node-red/flows.json
[{"id":"411bb7bd.793d3","type":"tab","label":"Washer/Dryer","disabled":false,"info":""},{"id":"6d60e1cf.b0231","type":"server","name":"Home Assistant","addon":true},{"id":"90d1b3d4.d2ff08","type":"server-state-changed","z":"411bb7bd.793d3","name":"Dryer On","server":"6d60e1cf.b0231","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.dryer_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"ON","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":320,"y":120,"wires":[["ba978f13.a2b3e8","5d2446e.60d1a38"],[]]},{"id":"ba978f13.a2b3e8","type":"ha-wait-until","z":"411bb7bd.793d3","name":"Wait for Dryer","server":"6d60e1cf.b0231","outputs":1,"entityId":"sensor.dryer_motion","entityIdFilterType":"exact","property":"state","comparator":"is","value":"OFF","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":540,"y":120,"wires":[["54a6ca15.a668a4","4edcc7ce.597e68"]]},{"id":"53a55277.f7566c","type":"api-call-service","z":"411bb7bd.793d3","name":"Notify Nate's Phone","server":"6d60e1cf.b0231","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone_dx3df4svn72q","entityId":"","data":"{ \"message\": msg.payload }","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":120,"wires":[[]]},{"id":"2ee75108.f44b0e","type":"api-call-service","z":"411bb7bd.793d3","name":"Notify Alexa Kitchen","server":"6d60e1cf.b0231","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media_kitchen","entityId":"","data":"{ \"message\": msg.payload, \"data\": { \"type\": \"announce\" } }","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1060,"y":180,"wires":[[]]},{"id":"54a6ca15.a668a4","type":"change","z":"411bb7bd.793d3","name":"Set notification text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Dryer is finished","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":120,"wires":[["53a55277.f7566c","2ee75108.f44b0e","f6de8e95.a34818","38a8bd82.b3ef7a","b20f6ae6.30d2"]]},{"id":"f6de8e95.a34818","type":"api-call-service","z":"411bb7bd.793d3","name":"Notify Alexa Master","server":"6d60e1cf.b0231","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media_master","entityId":"","data":"{ \"message\": msg.payload, \"data\": { \"type\": \"announce\" } }","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1050,"y":240,"wires":[[]]},{"id":"38a8bd82.b3ef7a","type":"api-call-service","z":"411bb7bd.793d3","name":"Notify Alexa Office","server":"6d60e1cf.b0231","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media_office","entityId":"","data":"{ \"message\": msg.payload, \"data\": { \"type\": \"announce\" } }","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1050,"y":300,"wires":[[]]},{"id":"65e92270.da3414","type":"server-state-changed","z":"411bb7bd.793d3","name":"Washer On","server":"6d60e1cf.b0231","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.washing_machine_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Running","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":240,"wires":[["afb83482.2d8388"],["3521f721.efc578"]]},{"id":"afb83482.2d8388","type":"change","z":"411bb7bd.793d3","name":"Set washer on","rules":[{"t":"set","p":"washer","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[["41e12e75.9e2b2"]]},{"id":"3521f721.efc578","type":"switch","z":"411bb7bd.793d3","name":"Washer was running","property":"washer","propertyType":"flow","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":260,"wires":[["641cf7f2.fdbc28","7ef3a404.68d354"],[]]},{"id":"641cf7f2.fdbc28","type":"change","z":"411bb7bd.793d3","name":"Set washer off","rules":[{"t":"set","p":"washer","pt":"flow","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":240,"wires":[["d63850e6.8bf868"]]},{"id":"d63850e6.8bf868","type":"change","z":"411bb7bd.793d3","name":"Set notification text","rules":[{"t":"set","p":"payload","pt":"msg","to":"Washing machine is finished","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":240,"wires":[["53a55277.f7566c","2ee75108.f44b0e","f6de8e95.a34818","38a8bd82.b3ef7a","5543dabf.8dc6bc"]]},{"id":"5d2446e.60d1a38","type":"debug","z":"411bb7bd.793d3","name":"Dryer On","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":80,"wires":[]},{"id":"4edcc7ce.597e68","type":"debug","z":"411bb7bd.793d3","name":"Dryer Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":80,"wires":[]},{"id":"b20f6ae6.30d2","type":"debug","z":"411bb7bd.793d3","name":"Dryer Notification","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":80,"wires":[]},{"id":"41e12e75.9e2b2","type":"debug","z":"411bb7bd.793d3","name":"Washer On","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":200,"wires":[]},{"id":"7ef3a404.68d354","type":"debug","z":"411bb7bd.793d3","name":"Washer Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":280,"wires":[]},{"id":"5543dabf.8dc6bc","type":"debug","z":"411bb7bd.793d3","name":"Washer Notification","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":360,"wires":[]}]
